.body {
    position: relative;
    width: 100%;
}

.image-wrapper{
    padding-top: 50px ;
    width: auto;
    height: auto;
    
    
}

.smith-img{
    width: 100%;
    height: auto;
    position: center;
    
    ;
}

.text-overlay {
    position: relative;
    top: 50%;
    left:20%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    
}

.text-overlay h1 {
    height: 450px;
    left:300px ;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
}

.text-overlay p {
    height: 400px;
    font-size: 22px;
    left: 300px;
    font-weight: bold;
    color: yellow;
}