.bottom{
    width: 100%;
    height: fit-content;
    padding-top: 72px;
}

.wrapperB {
    height: 411px;
    width: 100vw;
    margin: 0;
    padding: 0;
    left: 0px;
    background-image: url('./img/Image\ 5.png');
    background-repeat: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: auto;
    max-width: 700px;
}

.text p {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 40px;
}


.info {
    margin-top: 10px;
    text-align: center;
}

.Personnel {
    font-size: 20px ;
    font-weight: bold;
}

.buttons2{
    display:flex;
    width: 55px;
    justify-content: space-around;
}




.circle-button{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: black;
    border: none;
    margin: 5px;
}