.box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45vh;
    width: 75%;
    left: 65px;
}

.box {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    width: 150px; 
    height: 150px; 
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column-reverse; 
    padding: 10px; 
}
