
.logo {
  display: flex; 
  align-items: center;
  
}

.logo-img {
  width: auto; 
  height: auto; 
  padding-top: 56.5px;
  padding-left: 68px;
}

.nav-list{
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.nav-list li {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-left: 150px;
  margin-top: 75px;
  word-spacing: 65px;
  white-space: nowrap;
}