.lorem-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;

}


.paragraph1{
    font-size :23px ;
    margin-left: 100px;
}

.paragraph2 {
    font-size: 23px;
    margin-right: 5px;
}

.paragraph3{
    font-size:  23px;
    margin-right:102px
}